<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
         </ul>
      <% end %>
      <h1>Editing Book</h1>
      <%= form_with model: @book, local:true do |f| %>
        <div class="form-group">Title</div>
        <%= f.text_field :title %>
        <div class="form-group">Opinion</div>
        <%= f.text_area :body %>
        <div class="form-group">
          <%= f.submit 'Update Book', class: "btn btn-success" %>
        </div>
      <% end %>
      <td><%= link_to "Show", book_path %></td>
      <td>|</td>
      <td><%= link_to "Back", books_path %></td>
    </div>
  </div>
</div>