<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">

<%= render "list", book: @book_new, user: @user  %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
    <table class="table">
  	  <tbody>
  		  <tr>
          <td>
            <% if @book.user.profile_image.attached? %>
            <%= image_tag @book.user.profile_image, size: "50x50" %>
            <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
            <% end %>
            <p><%= link_to user_path(@user) do %>
            <%= @user.name %>
            <% end %>
            </p>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      </tbody>
    </table>
</div>
